.realTimeData {
  header {
    >span {
      font-size: 16px;
      margin: 0 8px;
    }
    >button {
      margin-left: 10px;
    }
  }
  .indicator {
    display: flex;
    justify-content: space-between;
    >div {
      width: 24.5%;
      h2 {
        margin: 0;
        font-size: 30px;
      }
    }
  }
  .trendTable {
    width: 90%;
    height: 400px;
  }
  .detail {
    width: 100%;
  }
}