.ant-layout-header .logo {
  width: 31px;
  height: 31px;
  line-height: 31px;
  margin: 16px 28px 16px 0;
  float: left;
}
.ant-layout-header .logo >i {
  color: #fff;
  font-size: 30px;
}
.App {
  height: 100%;
}